/* COLOR SCHEME */
$purple-1: #5638A8;
$purple-2: #8036BF;
$magenta: #9D33B5;
$blue-1: #3637BF;
$blue-2: #3356B5;

/* BLACKS / WHITES / GRAYS */
$black-1: #000;
$black-2: #363636;
$white: #fff;
$gray-1: #FAFAFA;
$gray-2: #EEE;